.article-container{
    margin: 40px 20px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid rgba(17, 17, 17, 0.15);
}

.article-container img{
    width: 100%;
    text-align: center;
}

.profile-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-container img{
    border-radius: 50%;
    height: 50px;
    width: 50px;;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile h3, h6{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mark-as-read{
    color: blue;
    text-decoration: underline;
}

/*phone devices*/
@media only screen and (max-width:688px) {
    .article-container{
        margin:40px 0;
    }
}