.footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: left;
}  

.footer p,ul{
    margin-bottom: 50px;
}

/*phone devices*/
@media only screen and (max-width:688px) {
    .footer{
        padding: 20px;
    }
}